.b {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    left: 0%;
    line-height: 142.6%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.div {
    width: 597px;
    position: relative;
    height: 263px;
    font-size: 288px;
    color: #ff6060;
}
.oopsThePage {
    width: 872px;
    position: relative;
    font-size: 36px;
    line-height: 142.6%;
    font-weight: 500;
    color: #ff6060;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.returnToHome {
    width: 284px;
    position: relative;
    font-size: 18px;
    text-decoration: underline;
    line-height: 142.6%;
    font-weight: 500;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.logoIcon1 {
    position: absolute;
    height: 18.85%;
    width: 8.47%;
    top: 31.58%;
    right: 45.76%;
    bottom: 49.57%;
    left: 45.76%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.kasaAllRights {
    position: absolute;
    height: 22.01%;
    width: 35.63%;
    top: 64.11%;
    left: 32.15%;
    line-height: 142.6%;
    font-weight: 500;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.dFooter {
    width: 1440px;
    position: relative;
    background-color: #000;
    height: 209px;
    overflow: hidden;
    flex-shrink: 0;
    color: #fff;
}
.d404 {
    width: 100%;
    position: relative;
    background-color: #fff;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 40px 0px 0px;
    box-sizing: border-box;
    gap: 139px;
    text-align: center;
    font-size: 24px;
    color: #000;
    font-family: Montserrat;
}
.home {
    position: relative;
    line-height: 142.6%;
    font-weight: 500;
    cursor: pointer;
}
.nav {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
    gap: 26px;
}
.header {
    width: 335px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    text-align: right;
}
.b {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    left: 0%;
    line-height: 142.6%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.div {
    width: 198px;
    position: relative;
    height: 99px;
    font-size: 96px;
    color: #ff6060;
}
.oopsThePage {
    width: 260px;
    position: relative;
    font-size: 18px;
    line-height: 142.6%;
    font-weight: 500;
    color: #ff6060;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.returnToHome {
    width: 221px;
    position: relative;
    font-size: 14px;
    text-decoration: underline;
    line-height: 142.6%;
    font-weight: 500;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.logoIcon1 {
    position: absolute;
    top: 66px;
    left: calc(50% - 60.5px);
    width: 122px;
    height: 39.4px;
}
.kasaAllRights {
    position: absolute;
    height: 22.01%;
    width: 35.63%;
    top: 50.24%;
    left: 32.29%;
    line-height: 142.6%;
    font-weight: 500;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.dFooter {
    width: 375px;
    position: relative;
    background-color: #000;
    height: 209px;
    overflow: hidden;
    flex-shrink: 0;
    color: #fff;
}
.m404 {
    width: 100%;
    position: relative;
    background-color: #fff;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 20px 0px 0px;
    box-sizing: border-box;
    gap: 113px;
    text-align: center;
    font-size: 12px;
    color: #000;
    font-family: Montserrat;
}
