@media (min-width: 768px) and (max-width: 1440px) {
    .IMG {
        width: 1240px;
        background-image: url(../images/BannerImage.svg);
        background-repeat: no-repeat;
        height: 223px;
        border-radius: 25px;
    }
    .Background2 {
        width: 100%;
        position: relative;
        border-radius: 25px;
        height: 223px;
        mix-blend-mode: darken;
    }
}
@media (min-width: 320px) and (max-width: 767px) {
    .IMG {
        width: 335px;
        background-image: url(../images/MBannerImage.svg);
        background-repeat: no-repeat;
        height: 111px;
        border-radius: 25px;
    }
    .Background2 {
        width: 100%;
        position: relative;
        border-radius: 25px;
        height: 111px;
        mix-blend-mode: darken;
    }
}