@media (min-width: 768px) and (max-width: 1440px) {
  .carousel {
    position: relative;
    width: 1240px;
    height: 415px;
    padding-bottom: 20px;
  }
  .carousel-inner {
    position: relative;
    width: 1240px;
    height: 415px;
    overflow: hidden;
    &::after {
      display: block;
      clear: both;
      content: "";
    }
  }
  .carousel-item {
    position: relative;
    display: none;
    float: left;
    width: 100%;
    margin-right: -100%;
    backface-visibility: hidden;
    transform: 0.6s ease-in-out;
  }
  .carousel-image {
    object-fit: fill;
  }
  .carousel-item.active,
  .carousel-item-next,
  .carousel-item-prev {
    display: block;
  }
  .carousel-item-next:not(.carousel-item-start),
  .active.carousel-item-end {
    transform: translateX(100%);
  }
  .carousel-item-prev:not(.carousel-item-end),
  .active.carousel-item-start {
    transform: translateX(-100%);
  }
  .carousel-fade {
    .carousel-item {
      opacity: 0;
      transition-property: opacity;
      transform: none;
    }
    .carousel-item.active,
    .carousel-item-next.carousel-item-start,
    .carousel-item-prev.carousel-item-end {
      z-index: 1;
      opacity: 1;
    }
  }
  .carousel-control-prev,
  .carousel-control-next {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    text-align: center;
    background: none;
    border: 0;
    transform: 0.6s ease-in-out;
    &:hover,
    &:focus {
      text-decoration: none;
      outline: 0;
    }
  }
  .carousel-control-prev {
    left: 0;
  }
  .carousel-control-next {
    right: 0;
  }
  .carousel-caption {
    position: absolute;
    text-align: center;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .carousel {
    display: flex;
    position: relative;
    width: 335px;
    height: 255px;
  }
  .carousel-inner {
    position: relative;
    width: 335px;
    height: 255px;
    overflow: hidden;
    &::after {
      display: block;
      clear: both;
      content: "";
    }
  }
  .carousel-item {
    position: relative;
    display: none;
    float: left;
    width: 100%;
    margin-right: -100%;
    backface-visibility: hidden;
    transform: 0.6s ease-in-out;
  }
  .carousel-image {
    width: 335px;
    height: 225px;
    object-fit: cover;
  }
  .carousel-item.active,
  .carousel-item-next,
  .carousel-item-prev {
    display: block;
  }
  .carousel-item-next:not(.carousel-item-start),
  .active.carousel-item-end {
    transform: translateX(100%);
  }
  .carousel-item-prev:not(.carousel-item-end),
  .active.carousel-item-start {
    transform: translateX(-100%);
  }
  .carousel-fade {
    .carousel-item {
      opacity: 0;
      transition-property: opacity;
      transform: none;
    }
    .carousel-item.active,
    .carousel-item-next.carousel-item-start,
    .carousel-item-prev.carousel-item-end {
      z-index: 1;
      opacity: 1;
    }
  }
  .carousel-control-prev,
  .carousel-control-next {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    text-align: center;
    background: none;
    border: 0;
    transform: 0.6s ease-in-out;
    &:hover,
    &:focus {
      text-decoration: none;
      outline: 0;
    }
  }
  .carousel-control-prev {
    left: 0;
  }
  .carousel-control-next {
    right: 0;
  }
  .carousel-caption {
    position: absolute;
    text-align: center;
  }
}