@media (min-width: 768px) and (max-width: 1440px) {
    .whiteLogoIcon {
        position: absolute;
        height: 18.85%;
        width: 8.47%;
        top: 31.58%;
        right: 45.76%;
        bottom: 49.57%;
        left: 45.76%;
        max-width: 100%;
        overflow: hidden;
        max-height: 100%;
    }
    .kasaAllRights {
        position: absolute;
        height: 22.01%;
        width: 35.63%;
        top: 64.11%;
        left: 32.15%;
        line-height: 142.6%;
        font-weight: 500;
        display: flex;
        align-items: flex-end;
        justify-content: center;
    }
    .sizedesktop {
        width: 1440px;
        position: relative;
        background-color: #000;
        height: 209px;
        overflow: hidden;
        flex-shrink: 0;
    }
    .dFooter {
        position: relative;
        border-radius: 5px;
        border: 1px dashed #9747ff;
        box-sizing: border-box;
        width: 100%;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        padding: 20px;
        gap: 20px;
        text-align: center;
        font-size: 24px;
        color: #fff;
        font-family: Montserrat;
    }
}
@media (min-width: 320px) and (max-width: 767px) {
    .whiteLogoIcon {
        position: absolute;
        width: 122px;
        height: 39.44px;
        left: calc(50% - 122px/2 + 0.5px);
        top: 66px;
    }
    .kasaAllRights {
        position: absolute;
        left: 32.29%;
        right: 32.08%;
        top: 50.24%;
        bottom: 27.75%;
        
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 142.6%;
        /* or 17px */
        display: flex;
        align-items: flex-end;
        text-align: center;
        
        color: #FFFFFF;
    }
    .sizedesktop {
        width: 100%;
        position: relative;
        background-color: #000;
        height: 209px;
    }
    .sizemobile {
        width: 100%;
        position: relative;
        background-color: #000;
        height: 209px;
    }
    .dFooter {
        width: 375px;
        height: 209px;

        background: #000000;
    }
}