.background {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    border-radius: 25px;
    background-color: #f6f6f6;
}
.img {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    border-radius: 10px;
    background-color: #ff6060;
}
.thumbChild {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    border-radius: 10px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0), rgba(10, 10, 10, 0) 42%, rgba(4, 4, 4, 0.2) 99.99%, rgba(0, 0, 0, 0.5));
}
.titleOfThe {
    position: absolute;
    width: 88.24%;
    top: 86.47%;
    left: 5.88%;
    line-height: 142.6%;
    display: flex;
    align-items: flex-end;
}
.thumb {
    position: absolute;
    height: 41.01%;
    width: 27.42%;
    top: 53.8%;
    right: 68.55%;
    bottom: 5.19%;
    left: 4.03%;
    cursor: pointer;
}
.thumb1 {
    position: absolute;
    height: 41.01%;
    width: 27.42%;
    top: 6.76%;
    right: 36.29%;
    bottom: 52.23%;
    left: 36.29%;
    cursor: pointer;
}
.thumb2 {
    position: absolute;
    height: 41.01%;
    width: 27.42%;
    top: 6.76%;
    right: 68.55%;
    bottom: 52.23%;
    left: 4.03%;
    cursor: pointer;
}
.thumb3 {
    position: absolute;
    height: 41.01%;
    width: 27.42%;
    top: 53.8%;
    right: 36.29%;
    bottom: 5.19%;
    left: 36.29%;
    cursor: pointer;
}
.thumb4 {
    position: absolute;
    height: 41.01%;
    width: 27.42%;
    top: 6.76%;
    right: 4.03%;
    bottom: 52.23%;
    left: 68.55%;
    cursor: pointer;
}
.thumb5 {
    position: absolute;
    height: 41.01%;
    width: 27.42%;
    top: 53.8%;
    right: 4.03%;
    bottom: 5.19%;
    left: 68.55%;
    cursor: pointer;
}
.gallery {
    width: 100%;
    position: relative;
    height: 829px;
    text-align: left;
    font-size: 18px;
    color: #fff;
    font-family: Montserrat;
}
