.background {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    border-radius: 25px;
    background-color: #f6f6f6;
}
.img {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    border-radius: 10px;
    background-color: #ff6060;
}
.titleOfThe {
    position: absolute;
    width: 88.24%;
    top: 86.47%;
    left: 5.88%;
    line-height: 142.6%;
    display: flex;
    align-items: flex-end;
}
.gallery {
    // width: 100%;
    // position: relative;
    // height: 829px;
    // text-align: left;
    // font-size: 18px;
    // color: #fff;
    // font-family: Montserrat;

    border-radius: 25px;
background-color: #f6f6f6;
}
.gallery-row {
    display: flex;
}

.gallery-column {
    flex: 33.33%;
    padding: 5px;
}
.gallery-card {
    width: 340px;
    height: 340px;  
}
.gallery-card-link {
    text-decoration: none;
    color: inherit;
}
.gallery-card-title {
    text-align: center;
    color: white;
    position: relative;
    bottom: 60px;
    font-family: Montserrat;
    font-weight: 700;
    font-size: 18px;
    vertical-align: bottom;

}
.gallery-grid-container {
    background-color: #f6f6f6;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 340px 340px;
    gap: 10px;
    padding: 10px;
}
.gallery-grid-container > div {
    color: #000;
    padding: 10px;
    font-size: 30px;
    text-align: center;
}