.logoIcon {
    position: absolute;
    height: 100%;
    width: 16.96%;
    top: 0%;
    right: 83.04%;
    bottom: 0%;
    left: 0%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.home {
    width: 136px;
    position: relative;
    text-decoration: underline;
    line-height: 142.6%;
    font-weight: 500;
    display: flex;
    align-items: flex-end;
    flex-shrink: 0;
}
.about {
    width: 116px;
    position: relative;
    line-height: 142.6%;
    font-weight: 500;
    display: flex;
    align-items: flex-end;
    flex-shrink: 0;
    cursor: pointer;
}
.nav {
    position: absolute;
    width: 24.92%;
    top: calc(50% - 17px);
    right: 0%;
    left: 75.08%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 57px;
}
.header {
    width: 1240px;
    position: relative;
    height: 68px;
    color: #000;
}
.background {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    border-radius: 25px;
    background-color: #f6f6f6;
}
.img {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    border-radius: 10px;
    background-color: #ff6060;
}
.thumbChild {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    border-radius: 10px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0), rgba(10, 10, 10, 0) 42%, rgba(4, 4, 4, 0.2) 99.99%, rgba(0, 0, 0, 0.5));
}
.titleOfThe {
    position: absolute;
    width: 88.24%;
    top: 86.47%;
    left: 5.88%;
    line-height: 142.6%;
    display: flex;
    align-items: flex-end;
}
.thumb {
    position: absolute;
    height: 41.01%;
    width: 27.42%;
    top: 53.8%;
    right: 68.55%;
    bottom: 5.19%;
    left: 4.03%;
    cursor: pointer;
}
.thumb1 {
    position: absolute;
    height: 41.01%;
    width: 27.42%;
    top: 6.76%;
    right: 36.29%;
    bottom: 52.23%;
    left: 36.29%;
    cursor: pointer;
}
.thumb2 {
    position: absolute;
    height: 41.01%;
    width: 27.42%;
    top: 6.76%;
    right: 68.55%;
    bottom: 52.23%;
    left: 4.03%;
    cursor: pointer;
}
.thumb3 {
    position: absolute;
    height: 41.01%;
    width: 27.42%;
    top: 53.8%;
    right: 36.29%;
    bottom: 5.19%;
    left: 36.29%;
    cursor: pointer;
}
.thumb4 {
    position: absolute;
    height: 41.01%;
    width: 27.42%;
    top: 6.76%;
    right: 4.03%;
    bottom: 52.23%;
    left: 68.55%;
    cursor: pointer;
}
.thumb5 {
    position: absolute;
    height: 41.01%;
    width: 27.42%;
    top: 53.8%;
    right: 4.03%;
    bottom: 5.19%;
    left: 68.55%;
    cursor: pointer;
}
.gallery {
    position: absolute;
    top: 266px;
    left: 0px;
    width: 1240px;
    height: 829px;
}
.maskGroupIcon {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1240px;
    height: 223px;
    object-fit: cover;
}
.atHomeEverywhere {
    position: absolute;
    top: 78px;
    left: calc(50% - 443px);
    line-height: 142.6%;
    text-shadow: 1px 0 0 #000, 0 1px 0 #000, -1px 0 0 #000, 0 -1px 0 #000;
}
.section1 {
    position: absolute;
    top: 0px;
    left: 0px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    width: 1240px;
    height: 223px;
    text-align: center;
    font-size: 48px;
}
.body {
    width: 1240px;
    position: relative;
    height: 1095px;
    text-align: left;
    font-size: 18px;
}
.logoIcon1 {
    position: absolute;
    height: 18.85%;
    width: 8.47%;
    top: 31.58%;
    right: 45.76%;
    bottom: 49.57%;
    left: 45.76%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.kasaAllRights {
    position: absolute;
    height: 22.01%;
    width: 35.63%;
    top: 64.11%;
    left: 32.15%;
    line-height: 142.6%;
    font-weight: 500;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.dFooter {
    width: 1440px;
    position: relative;
    background-color: #000;
    height: 209px;
    overflow: hidden;
    flex-shrink: 0;
    text-align: center;
}
.dHome {
    position: relative;
    background-color: #fff;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 45px 0px 0px;
    box-sizing: border-box;
    gap: 50px;
    text-align: right;
    font-size: 24px;
    color: #fff;
    font-family: Montserrat;
}

