.D_RentalPropertyCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 45px 0px 0px;
    gap: 50px;
    position: relative;
    width: 1440px;
    height: 1065px;
    background: #FFFFFF;
}
._Header {
    width: 1240px;
    height: 68px;
}
.LOGO {
    left: 0%;
    right: 83.04%;
    top: 0%;
    bottom: 0%;
}
._Body {
    width: 1240px;
    height: 643px;
}
.Details {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 76px;
    width: 1240px;
    height: 52px;
    left: 100px;
    top: 754px;
}
.Dropdown-open {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    isolation: isolate;
    width: 582px;
    height: 52px;
    border-radius: 5px;
}
.Frame2 {
    width: 582px;
    height: 52px;
    /* Gray */
    background: rgba(247, 247, 247, 0.45);
    border-radius: 5px;
    z-index: 0;
}
.Air {
    height: 156px;
    left: 3.44%;
    right: 2.06%;
    bottom: 53px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 142.6%;
    /* or 26px */
    color: #FF6060;
}
.TopBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 20px 10px 10px;
    width: 582px;
    height: 52px;
    left: 0px;
    top: 0px;
    /* Red */
    background: #FF6060;
    border-radius: 10px;
    z-index: 1;
}
.Amenities {
    width: 520px;
    height: 32px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 142.6%;
    /* or 26px */
    display: flex;
    align-items: center;
    color: #FFFFFF;
    align-self: stretch;
    flex-grow: 1;
}
.ArrowBackIcon {
    width: 32px;
    height: 32px;
    transform: rotate(-90deg);
}
